<!DOCTYPE html>
<html>
         <%- include('../../layout/head')%>
        <!-- <link rel="stylesheet" href="../../styles/reset.css"/>
        <link rel="stylesheet" href="../../styles/base.css"/> -->
      <body>
        <header>
          <img src="/styles/images/ham.png" id="ham">
          <div>Best Books!</div>
        </header>
  <main>
      <div id="title">My Book Shelf</div>
    <div>
       <div id="singlebook" data-id="<%= singlebook.id%>">
          <img src="<%= singlebook.img_url%>" class="bImage">
          <p>Title: <%= singlebook.title %></p>
          <p>Author: <%= singlebook.author%></p>
          <p>Description: <%=singlebook.description%></p>
          <a href="/">View Home Bookshelf</a>
       </div>
       <button class="selectbut <%=element.isbn %>">Select Book</button>
       <form action="/" class="edit-form hidden" method="post">
        <input type="text" name="title" value="<%- element.title%>" placeholder="edit title">
        <input type="text" name="author" value="<%- element.author%>" placeholder="edit author">
        <input type="text" name="isbn" value="<%- element.isbn%>">
        <textarea name="description" placeholder="edit description" cols="25" rows="8"><%- element.description%></textarea>
        <input type="text" name="img_url" value="<%- element.img_url%>">
        <button type="submit" class="savebut">Save to Bookshelf</button>
       </form>
      </div>
      <div>
        
      </div>
  </main>
  <footer>
  </footer>
</body>
</html>