<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="/styles/reset.css"/>
        <link rel="stylesheet" href="styles/base.css"/>
      </head>
      <body>
        <header>
          <img src="/styles/images/ham.png" id="ham">
          <div>Best Books!</div>
        </header>
  <main>
      <div id="title">Search Results</div>
    <div>
      <% booklist.forEach( element => { %>
       <div>
          <img src="<%= element.img_url%>" class="bImage">
          <p>Title: <%= element.title %></p>
          <p>Author: <%= element.author%></p>
          <p>ISBN: <%= element.isbn%></p>
          <p>Description: <%=element.description%></p>
       </div>
       <div>
          <button id ="submission">Save to Bookshelf</button>
          </div>
       <form action="/edit" method="post" class="edit">
        <label>Edit Author:
          <input type="text" placeholder="Author">
        </label>
        <label>Edit Title:
          <input type="text" placeholder="Title">
        </label>
        <label>Edit Description:
          <input type="text" placeholder="Description">
        </label>
        <label>Bookshelf
          <input type="text" placeholder="Bookshelf">
        </label>
  
      <%})%>
      </div>

      
      </form>
  </main>
  <footer>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>