<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head') %>
        <title>Book App</title>
        <link rel="stylesheet" href="/styles/reset.css"/>
        <link rel="stylesheet" href="/styles/base.css"/>
      </head>
      <body>
            <%- include('../../layout/header') %>
  <main>
      <div id="title">Search Results</div>
    <div>
      <% booklist.forEach( element => { %>
       <div id="divcontainresults">
          <img src="<%= element.img_url%>" class="bImage">
          <p id="titleA">Title: <%= element.title %></p>
          <p id="author">Author: <%= element.author%></p>
          <div id="descrip">Description: <%=element.description%></div>
          <button class="selectbut <%=element.isbn %>">Select Book</button>
          <div id="edit-contain">
       <form action="/"  class="edit-form nothidden hidden" method="POST">
        <input type="hidden" name="img_url" value="<%- element.img_url%>">
          <input type="text" name="title" value="<%- element.title%>" placeholder="edit title">
          <input type="text" name="author" value="<%- element.author%>" placeholder="edit author">
          <input type="text" name="isbn" value="<%- element.isbn%>">
          <textarea name="description" placeholder="edit description" cols="25" rows="8"><%- element.description%></textarea>
          <button class="savebut">Save to Bookshelf</button>
        </div>
      </form>
      </div>
      <%})%>
      </div>      
  </main>
  <footer>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>