<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="/styles/reset.css"/>
        <link rel="stylesheet" href="styles/base.css"/>
      </head>
      <body>
        <header>
          <img src="/styles/images/ham.png" id="ham">
          <div>Best Books!</div>
        </header>
  <main>
      <div id="title">Search Results</div>
    <div>
      <% booklist.forEach( element => { %>
       <div>
          <img src="<%= element.img_url%>" class="bImage">
          <p>Title: <%= element.title %></p>
          <p>Author: <%= element.author%></p>
          <p>ISBN: <%= element.isbn%></p>
          <p>Description: <%=element.description%></p>
       </div>

        <div>
           <button class="selectbut">Select Book</button>
        </div>
       <form action="/" class="edit-form hidden" method="post">
        <input type="hiden" name="_method" value="edit">
        <input type="text" name="title" value="<%- element.title%>" placeholder="edit title">
        <input type="text" name="author" value="<%- element.author%>" placeholder="edit author">
        <textarea name="description" placeholder="edit description" cols="25" rows="8"><%- element.description%></textarea>
        <div id="savebut">
            <button type="submit">Save to Bookshelf</button>
            </div>
        </form>
      <%})%>
      </div>      
      </form>
  </main>
  <footer>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>