<!DOCTYPE html>
<html>
    <%- include('../layout/head')%>
  <body>
    <%- include('../layout/header')%>
  <main>
     
      <section id="title">Saved Books</section>
    <div>
      <% bookshelf.forEach( element => { %>
        <div id="divcontain">
          <img src="<%= element.img_url%>" class="bImage">
          <p id="titleA">Title: <%= element.title %></p>
          <p id="author">Author: <%= element.author%></p>
          <form action="/books/details/<%= element.id %>">
          <button id="viewdeets" >View Details</button>
          </div>
        </form>
      <%})%>
      </div>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>