<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="/styles/reset.css"/>
        <link rel="stylesheet" href="styles/base.css"/>
      </head>
      <body>
        <header>
          <img src="/styles/images/ham.png" id="ham">
          <div>Best Books!</div>
        </header>
  <main>
      <button id ="submission" href="">Search the Google Books API</button>
      <div id="title">My Book Shelf</div>
    <div>
      <% bookshelf.forEach( element => { %>
       <div>
          <img src="<%= element.img_url%>" class="bImage">
          <p>Title: <%= element.title %></p>
          <p>Author: <%= element.author%></p>
          <p>ISBN: <%= element.isbn%></p>
          <p>Description: <%=element.description%></p>
          <a href="/books/<%= element.id %>">View Details</a>
          </div>
      <%})%>
      </div>
      <div>
        
      </div>
  </main>
  <footer>
  </footer>
</body>
</html>