<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head')%>
  </head>
  <body>
    <header>
          <div>Best Books!</div>
          <img src="/styles/images/ham.png" id="ham">
        </header>
  <main>
      <a href="/new">Search for New Books</a>
      <div id="title">My Book Shelf</div>
    <div>
      <% bookshelf.forEach( element => { %>
       <div>
          <img src="<%= element.img_url%>" class="bImage">
          <p>Title: <%= element.title %></p>
          <p>Author: <%= element.author%></p>
          <p>ISBN: <%= element.isbn%></p>
          <p>Description: <%=element.description%></p>
          <a href="/books/details/<%= element.id %>">View Details</a>
          </div>
      <%})%>
      </div>
      <div>
        
      </div>
  </main>
  <footer>
  </footer>
  </body>
</html>